.topnav{
    overflow: hidden;
    background-color: #f2f2f2;
}
.topnav a{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: wavy;
    font-size: 1.2rem;
    align-items: center;
    padding-right: 100px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.topnav a.active{
    float: left;
    font-size: 3rem;
    font-weight: bolder;
}
.topnav img{
    float: right;
}
header{
    border-bottom: 10px solid black;
}
