*{
    box-sizing: border-box;
}
.navlist{
    width: 100%;
    background-color: darkgrey;
    position: absolute;
}
.navlist a {
    float:right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 1.5em;
}
.search{
    float: right;
    padding: 10px;
}
.search input[type=text]{
    width:300px;
    height:25px;
    border-radius:25px;
    border: none;
}
.slideshow{
    max-width: 1000px;
    position: relative;
    margin: auto;
}
/* .myslides{
    display: none;
} */
.prev,.next{
    cursor: pointer;
    position: absolute;
    top: 50%;;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev